body {
    font-family: 'Raleway', sans-serif;
    background-image: url(/images/image2.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    margin-top: 30px;
}

#title {
    text-align: center;
    color: #d6551c;
}

body {
    background-color: #e5e5ee;
}

p {
    text-align: center;
}

h2 {
    color: #d6551c;
}

h3 {
    color: #d6551c;
}


/* #fruList {} */